@model IEnumerable<BookingRoomDto>


<div class="row">
    <div class="col-8">
        <h3>Booking Room List</h3>
    </div>
    <div id="sample_1_filter" class="dataTables_filter col-md-2">
        <input type="text" placeholder="Search here..." id="sample_1" />
    </div>
</div>
<hr />
<br />

@{
    var currentTime = DateTime.Now;
}


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            
            <div class="table-responsive">
                <table class="table" id="sample_1">
                    <thead>
                        <tr>
                            <th class="th-min-width-150">First Name</th>
                            <th class="th-min-width-150">Last Name</th>
                            <th class="th-min-width-150">Address</th>
                            <th class="th-min-width-150">Email</th>
                            <th class="th-min-width-150">Phone Number</th>
                            <th class="th-min-width-150">Check In Time</th>
                            <th class="th-min-width-150">Check Out Time</th>
                            <th class="th-min-width-150">Amount</th>
                            <th class="th-min-width-150">CheckIn</th>
                            <th class="th-min-width-150">CheckOut</th>
                            <th class="th-min-width-150">Payment</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="sample_2">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                                <td>@item.Address</td>
                                <td>@item.Email</td>
                                <td>@item.PhoneNumber</td>
                                <td>@item.CheckInDate.ToString("dd-MM-yyyy")</td>
                                <td>@item.CheckOutDate.ToString("dd-MM-yyyy")</td>
                                <td>@item.TotalPrice</td>
                                <td>
                                    @if (item.CheckIn == null)
                                    {
                                        <a class="btn btn-outline-dark btn-sm mr-1" asp-controller="BookingRoom" asp-action="CheckIn" asp-route-bookingRoomId="@item.BookingRoomID">Check In</a>
                                    }
                                    else
                                    {
                                        <span class="badge badge-info">@item.CheckIn</span>
                                    }
                                </td>

                                <td>
                                    @if (item.CheckOut == null && item.CheckIn != null)
                                    {
                                        <a class="btn btn-outline-dark btn-sm mr-1" asp-controller="BookingRoom" asp-action="CheckOut" asp-route-bookingRoomId="@item.BookingRoomID" asp-route-roomId="@item.RoomID">Check Out</a>
                                    }
                                    else
                                    {
                                        <span class="badge badge-info">@item.CheckOut</span>
                                    }
                                </td>

                                <td>
                                    @if (item.Payment != "Success")
                                    {
                                        <a class="btn btn-outline-danger btn-sm mr-1" asp-controller="BookingRoom" asp-action="PaymentStatus" asp-route-bookingRoomId="@item.BookingRoomID">Change Satus</a>
                                    }
                                    else
                                    {
                                    <span class="badge badge-success">@item.Payment</span>
                                    }
                                </td>

                                <td class="d-flex">
                                    <a class="btn btn-outline-primary btn-sm mr-1" asp-controller="BookingRoom" asp-action="BookingRoomEdit" asp-route-bookingRoomId="@item.BookingRoomID" asp-route-roomId="@item.RoomID">Edit</a>
                                    <a class="btn btn-outline-danger btn-sm mr-1" onclick="return fun1()" asp-controller="BookingRoom" asp-action="BookingRoomDelete" asp-route-bookingRoomId="@item.BookingRoomID">Delete</a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#sample_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        function fun1() {
            if (confirm("Are You Sure Want To Delete")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
}
