@model IEnumerable<RoomDto>

<hr />
<br />
<div class="row">
    <div class="col-8">
        <h3>Room List</h3>
    </div>
    <div class="col-4">
        <a class="btn btn-success btn-sm" asp-controller="Room" asp-action="RoomCreate">Add Room<i class="bi bi-trash"></i></a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped" id="sample_1">
        <thead>
            <tr>
                <th>Room Number</th>
                @* <th>Room Type</th> *@
                <th>Photo</th>
                <th>Status</th>
                <th>Discription</th>
                <th>Capacity</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="sample_2">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.RoomNumber</td>
                    <td><img src="@item.Image" style="height:80px; width:80px; border-radius:0px" /></td>
                    <td>@item.Status</td>
                    <td>@item.Discription</td>
                    <td>@item.Capacity</td>
                    <td>
                        <a class="btn btn-outline-primary btn-sm" asp-controller="Room" asp-action="RoomEdit" asp-route-roomId="@item.RoomID">Edit<i class="bi bi-trash"></i></a>
                        <a class="btn btn-outline-danger btn-sm" onclick="return fun1()" asp-controller="Room" asp-action="RoomDelete" asp-route-roomId="@item.RoomID">Delete<i class="bi bi-trash"></i></a>
                    </td>
                    @* <td>
                        <form method="post" asp-controller="Room" asp-action="RoomDelete" asp-route-roomId="@item.RoomID">
                            <button type="submit" class="btn btn-outline-danger btn-sm" value="Delete" onclick="return fun1()">Delete<i class="bi bi-trash"></i></button>
                        </form>
                    </td> *@
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#sample_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        function fun1() {
            if (confirm("Are You Sure Want To Delete")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
}
